<head>
    <title>Aura</title>
    <link rel="stylesheet" type="text/css" href="static/css/profile.css">
    <script src="static/js/check_screen_size.js"></script>
</head>
<p><a href="/", style="text-decoration: none; color: rgb(0, 153, 255);", id="auratitle">AURA</a></p>
<div class="profile">
    <img id="pfp" src="{{ pfp }}"></img>
    <p id="name">{{ name }}</p>
    <p id="aura">AURA: {{ auras }}</p>
    <div class="aura_given_container">
        {% for aura_id, aura_data in auras_given.items() %}
            <div class="aura_given">
                <h3>{{ aura_data.title }}</h3>
                <p>User: {{ aura_data.user }}</p>
                <p>Given Aura: {{ aura_data.aura }}</p>
                <p>Comment: {{ aura_data.comment }}</p>
            </div>
        {% endfor %}
    </div>
</div>
</html>